version: "3.9"

services:
  db:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: appdb
      MYSQL_ROOT_PASSWORD: secret
      # contoh user app
      MYSQL_USER: appuser
      MYSQL_PASSWORD: appsecret
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    restart: always
    environment:
      DB_HOST: db
      DB_USER: appuser
      DB_PASSWORD: appsecret
      DB_NAME: appdb
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    # frontend will be served via a reverse-proxy (nginx) service below
    depends_on:
      - backend

  proxy:
    image: nginx:1.27-alpine
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx-proxy.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  db_data:
